/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#query-form{
    padding: 50px;
}

#map {
    height: 70%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.code-red {
    color: red;
    font-weight: bold;
}

.code-green {
    color: green;
    font-weight: bold;
}

.location-info .title {
    text-align: center;
}

.location-info .body .info-list {
    list-style-type: none;
    padding: 5px;
}

.location-info .body li {
    margin: 2px 0
}
